rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if request.auth.uid == uid;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == uid;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}